<div class="wrapper">
  <canvas
    id="canvas1"
    class="canvas1"
    (mousedown)="canvClick($event)"
    (mousemove)="canvMove($event)"
    [width]="width1"
    [height]="height1"
    [style.height]="height1 + 'px'"
    [style.width]="width1 + 'px'"
  ></canvas>
  <div class="foll"></div>
  <div class="menu">
    @if (!gamers) {
    <div class="flex gamers">
      <mat-form-field>
        <mat-label>Кол-во игроков</mat-label>
        <input matInput type="number" #a />
        <button
          matSuffix
          mat-flat-button
          (click)="countGamers(a.valueAsNumber)"
        >
          ok
        </button>
      </mat-form-field>
    </div>
    } @else {
    <div class="flex">
      <div class="abs">Игроки</div>
      @for (item of colors; track $index) {
      <div
        class="gamer"
        (click)="selectGamer(item)"
        (dblclick)="removeGamer(item)"
        [style.backgroundColor]="item"
      ></div>
      }
    </div>
    <div class="flex">
      <div class="abs">Монстрики</div>
      @for (item of mcolors; track $index) {
      <div
        class="monster"
        (click)="selectMonster(item)"
        [style.backgroundColor]="item"
      ></div>
      }

      <div class="gamer" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <mat-menu #menu>
          @for (item of tyman; track $index) {
          <button mat-menu-item (click)="delTyman(item.id)">
            Удалить туман {{ item.id }}
          </button>
          } @for (item of images; track $index) {
          <button mat-menu-item (click)="goTo(item)">
            Перейти на {{ item }}
          </button>
          }
          <button mat-menu-item (click)="gamers = 0">
            Поменять кол-во игроков
          </button>
        </mat-menu>
      </div>
    </div>
    }
  </div>
</div>
