.wrapper {
  // display: flex;
  height: 100%;
  width: 100%;
}
.foll {
  height: 110px;
}
.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 110px;
  background-color: #000000bb;
  border-radius: 30% 30% 0 0;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > * {
    margin: 0 10px;
  }
}
.test {
  color: rgb(51, 148, 91);
}
.gamer {
  border-radius: 100%;
  border: 3px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  & > mat-icon {
    font-size: 23px;
    transform: scale(1.5);
  }
}
.flex {
  display: flex;
  position: relative;
  align-items: end;
  height: 100%;
  color: white;
  & > * {
    margin: 0 10px;
  }
}
.abs {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  color: white;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.gamers {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}