.wrapper {
  // display: flex;
  height: 100%;
  width: 100%;
}
.foll {
  height: 130px;
}
.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 130px;
  background-color: #000000bb;
  border-radius: 30% 30% 0 0;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > * {
    margin: 0 10px;
  }
}
.test {
  color: rgb(51, 148, 91);
}
.gamer {
  border-radius: 100%;
  border: 3px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  & > mat-icon {
    $w: 20px;
    font-size: $w;
    width: $w;
    height: $w;
    transform: scale(1.5);
  }
}
.flex {
  display: flex;
  position: relative;
  align-items: end;
  height: 100%;
  color: white;
  & > * {
    margin: 0 10px;
  }
}
.abs {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.gamers {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.monster {
  border-radius: 100%;
  border: 3px solid rgb(255, 0, 0);
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  & > mat-icon {
    font-size: 23px;
    transform: scale(1.5);
  }
}
.selected {
  border-color: yellow !important;
}
.players {
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  margin: 0 10px 0 0;
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 30px;
  cursor: pointer;
}
h1 {
  color: white;
  font-size: 32px;
}
.fdc {
  flex-direction: column;
}
.cw {
  color: white;
}
.rotate {
  animation: rotate 1s infinite;
  font-size: 50px;
  width: 50px;
  height: 50px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.over {
  overflow: auto;
}
