<div class="wrapper">
  <canvas
    id="canvas1"
    class="canvas1"
    (mousedown)="canvClick($event)"
    (mousemove)="canvMove($event)"
    [width]="width1"
    [height]="height1"
    [style.height]="height1 + 'px'"
    [style.width]="width1 + 'px'"
  ></canvas>
  <div class="params">
    <div class="flexwrap">
      <!-- <input
        type="file"
        id="fileInput"
        style="display: none"
        (change)="onFileSelected($event)"
      /> -->

      <mat-form-field>
        <mat-label>Одна клетка</mat-label>
        <mat-select [value]="size" (valueChange)="size = $event; test($event)">
          <mat-option [value]="5">5 футов</mat-option>
          <mat-option [value]="10">10 футов</mat-option>
        </mat-select>
      </mat-form-field>

      <span>
        <mat-slider
          min="10"
          max="100"
          step="1"
          showTickMarks
          discrete
          (input)="updateCanvasGrid()"
          ><input matSliderThumb [(ngModel)]="gridSize" />
        </mat-slider>
        {{ gridSize }}px
      </span>
    </div>
    <div class="flexwrap">
      <mat-button-toggle-group [(ngModel)]="type">
        <mat-button-toggle value="Сетка">Сетка</mat-button-toggle>
        <mat-button-toggle value="Туман">Туман</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    @if (tyman.length) {
    <div class="flexwrap">
      @for (item of tyman; track $index) {
      <div
        class="tyman"
        (click)="selectTyman(item)"
        [class.current]="current_tyman == item"
      >
        {{ item.id }}
      </div>
      }
      <button mat-flat-button [disabled]="!current_tyman" (click)="deleteTyman()">Удалить туман</button>
    </div>
    }

    <button mat-flat-button (click)="saveAll()">Сохранить</button>
    <button mat-button (click)="goBack()">На главную</button>
  </div>
</div>
