/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(44, 44, 44);
}
body * {
  -webkit-tap-highlight-color: transparent !important;
}
* {
  box-sizing: border-box;
}
