<div class="wrapper">
  @if (!company) {
  <div class="flex">
    <h2>Выбор кампании</h2>
    <button mat-flat-button (click)="createCompany()">Создать</button>
    <button [disabled]="current === -1" mat-flat-button (click)="toedit()">Редактировать</button>
    <button [disabled]="current === -1" mat-stroked-button (click)="export()">
      Экспортировать
    </button>
    <button [disabled]="current === -1" mat-button (click)="deleteC()">Удалить кампанию</button>
  </div>
  <div class="grid">
    @for (item of files.folders; track $index) {
    <div class="block" [class.selected]="current === $index" (click)="current = $index">
      {{ item }}
    </div>
    }
  </div>
  }
  @else {
    <div class="flex">
      <h2>{{company}}</h2>
    </div>
    <button mat-flat-button (click)="createLocation()">Создать</button>
    <button [disabled]="current === -1" mat-flat-button (click)="toCreate()">Редактировать</button>
    <button [disabled]="current === -1" mat-button (click)="deleteL()">Удалить локацию</button>
    <button mat-button (click)="goBack()">Назад</button>
    <div class="grid">
      @for (item of files.images; track $index) {
      <div class="block" [class.selected]="current === $index" (click)="current = $index">
        {{ item }}
      </div>
      }
    </div>
  }
</div>
<!-- @for (item of images; track $index) {
<div class="block">
  <div class="img" style="background-image: url('{{item}}');"></div>
</div>
} -->